<div class="navbar-wrapper">
  <div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
          <a class="navbar-brand">Snappshot</a>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">          
            <li class=""><%= link_to("Home", root_path) %>
            </li>
            <li class=" dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Business Cards <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/business_cards/new">Add New Business Card</a></li>
              <li><a href="/business_cards">View Business Contacts</a></li>
            </ul>
            </li>
            <ul class="nav navbar-nav pull-right">
              <li class=" dropdown">
                <a href="" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Signed in as <% if current_user %> 
                <%= current_user.name.capitalize  %> 
                <% end %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if current_user %> 
                    <li><a href="/profile">My Profile</a></li>
                    <li><a href="#">Change Password</a></li>
                    <% end %>
                </ul>
                </li>
            <li class=""><%= link_to("Logout", sessions_path("current"), method: :delete) %></li>
            </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<% if flash[:message] %>
  <div class="login-error">
  <%= flash[:message] %>
  </div>
<% end %>

<!-- end of nav bar -->
 
   <div style='float:right; width: auto; padding-right:403px; color:#666699'>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" href="/sessions/new">Sign In</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2" href="/create_users/new">Sign up</button>
  </div>

  <span style="padding-left: 200px; color:#666699"><% if current_user %>Welcome, <b><%= current_user.name.capitalize %></b></span>
  <% end %>
  <br>
  <br>
  <br>

<div style="width:100%; height:340px" id="map"></div><!-- leaflet map -->

<script type='text/javascript'>
var map = L.map('map').setView([49.2827, -123.1207], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);


<% @business_cards.each_with_index do |business_card, i| %>
L.marker([<%=business_card.latitude%>, <%=business_card.longitude%>]).addTo(map);

<% end %>
   
  

</script>

  <br>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  <% if current_user %>
    <% @business_cards.each_with_index do |bc, i| %>
      <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
    <% end %>
  <% end %>
  </ol>

  <div style="float: left; padding-left:403px; width: auto;">
    <%= button_to 'Add a New Businesscard', new_business_card_path, id: 'button', class: "btn btn-info btn-lg", :method => :get %>
  </div>
  <div style="float: right; padding-right:400px; width: auto;">  
    <%= button_to 'View all Businesscard', business_cards_path, id: 'button', class: "btn btn-info btn-lg", :method => :get %>
  </div>
  <br>
  <br>
  <br>
    
  <!-- Wrapper for slides -->
  <% if current_user%>
  <div class="carousel-inner" role="listbox">
    <% @business_cards.each_with_index do |bc, i| %>
    <div class="item <%= "active" if i == 0 %>">
      <center><%=image_tag(bc.image, :size => '1100x550',) %></center>
    </div>
    <% end %>
  </div>
  <% end %>
 
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <br>
</div>
<br>
<br>
<div style="padding-left:300px">

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <br>           
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

    <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      <br>
     </div>
    </div>
  </div>  
<br>
<br>
</div>
  


  <div class="navbar-footer">
    <div class="row">
      <ul class="nav navbar-nav">

      </ul>
    </div>
  </div>
</div>