<div style='float:left; width: auto; padding-left:403px;'>
      <% if current_user %>
       <%= button_to("Logout", sessions_path("current"),  id: 'button', class: "btn btn-danger btn-lg", method: :delete) %>
      <% else %>
        <a type="button" class="btn btn-danger btn-lg" href="/auth/google_oauth2" style="color:#fffff"> <span class="glyphicon glyphicon-plus"></span> Google login</a>
      <% end %>
</div>
<div style='float:right; padding-right:403px; width: auto; color:#666699'>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Sign In</button>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Sign up</button>
</div>
 <br>

  <br>
  <br>

<div style="width:100%; height:340px" id="map"></div><!-- leaflet map -->

<script type='text/javascript'>
var map = L.map('map').setView([49.2827, -123.1207], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

// <%  if current_user %>
  <% @business_cards.each_with_index do |business_card, i| %>
L.marker([<%=business_card.latitude%>, <%=business_card.longitude%>]).addTo(map);
var popup = L.popup()
    .setLatLng([<%=business_card.latitude%>, <%=business_card.longitude%>])
    .setContent('<p>Click Me!</p>')
    .addTo(map);

  <% end %>
// <% end %>
   
</script>
<br>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  <% if current_user %>
    <% @business_cards.each_with_index do |bc, i| %>
      <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
    <% end %>
  <% end %>
  </ol>

  <div style="float: left; padding-left:404px; width: auto;">
    <%= button_to 'Add a New Businesscard', new_business_card_path, id: 'button', class: "btn btn-info btn-lg", :method => :get %>
  </div>
  <div style="float: right; padding-right:400px; width: auto;">  
    <%= button_to 'View all Businesscard', business_cards_path, id: 'button', class: "btn btn-info btn-lg", :method => :get %>
  </div>
  <br>
  <br>
  <br>
    
  <!-- Wrapper for slides -->
  <% if current_user%>
  <div class="carousel-inner" role="listbox">
    <% @business_cards.each_with_index do |bc, i| %>
    <div class="item <%= "active" if i == 0 %>">
      <center><%=image_tag(bc.image, :size => '1100x550',) %></center>
    </div>
    <% end %>
  </div>
  <% end %>
 
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <br>
</div>
<br><br>
<div style="padding-left:300px">
  <!--signin Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="row", style="color:#8585AD">
           <hr style="width:95%">
            <div class="col-lg-6 col-md-offset-1">
              <h2 class="modal-title"><b>Sign In</b></h2>
              <br>
              <%= form_tag sessions_path do %> 
                <%=label_tag "phone" %><br>
                <%=text_field_tag "phone_number", '7789895565', autofocus: true, style: "width: 400px" %><br><br>
                <%=label_tag "email" %><br>
                <%=text_field_tag "email", 'adamd@mail.com', style: "width: 400px"  %><br><br>
                <%=label_tag "password" %><br>
                <%=password_field_tag "password", '123456', style: "width: 400px"  %><br><br>
                <b><%=button_tag "Login", class: "btn btn-info"  %></b>
              <% end %>
              <br>
            </div>
          </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <br>           
      </div>
    </div>
  </div>
<div style="padding-left:300px">
  <!-- signup Modal -->
  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
    <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
        <hr style="width:99%">
          <div class="row", style="color:#8585AD; padding-left:60px; width: auto">
           <h2 class="modal-title"><b>Sign Up</b></h2>
                <br>  
            <%= form_tag create_users_path do %>
              <%= label_tag :name %><br>
              <%= text_field_tag "create_user[name]", "", style: "width: 400px"  %><br><br>
              <%= label_tag :phone_number %><br>
              <%= telephone_field_tag "create_user[phone_number]", "", style: "width: 400px" %><br><br>
              <%= label_tag :email %><br>
              <%= text_field_tag "create_user[email]", "", style: "width: 400px"  %><br><br>
              <%= label_tag :password %><br>
              <%= password_field_tag "create_user[password]", "", style: "width: 400px"  %><br><br>   
              <%= label_tag :confirmation %><br>
              <%= password_field_tag "create_user[password_confirmation]", "", style: "width: 400px"  %><br><br>
              <%= button_tag "Sign up", class: "btn btn-info"  %><br><br>
            <% end %>
          </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      <br>
     </div>
    </div>
  </div>  
<br>
<br>
</div>
</div>  


<div class="jumbotron" align="center">
    <div align="center" id="player"><iframe id="player" type="text/html" width="640" height="390"
    src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
    frameborder="0"></iframe></div>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '600',
          width: '1000',
          videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }
      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>
    
  <div class="navbar-footer">
    <div class="row">
      <ul class="nav navbar-nav">

      </ul>
    </div>
  </div>
</div>