<hr>
<div class="row", style="color:#8585AD; padding-left:150px">
  <div class="col-lg-6">
     <h2 class="modal-title"><b>Sign Up</b></h2>
          <hr>  
      <%= simple_form_for(@create_user) do |f| %>
        
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
        <br>
        <%= f.label :email %>
        <br>
        <%= f.text_field :email %>
        <br>
        <%= f.label :password %>
        <br>
        <%= f.password_field :password %>
        <br>   
        <%= f.label :confirmation %>
        <br>
        <%= f.password_field :password_confirmation %>
        <br>
        <br>
        <%= f.submit :submit %>
        <br>
        <br>
      <% end %>

  </div>
</div>
<div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>