<p id="notice"><%= notice %></p>
<div class="container" style="padding-left: 50px;">

<h1>Listing Create Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @create_users.each do |create_user| %>
      <tr>
        <td><%= create_user.name %></td>
        <td><%= create_user.email %></td>
        <td><%= create_user.password %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Create user', new_create_user_path %>
</div>