      <!-- require 'mini_magick' -->
<div class="container">
<section style="margin: 10px;">

<fieldset style="border-radius: 5px; padding: 5px; min-height:150px;">

  <% if current_user %> 


    <%= simple_form_for (@business_card) do |f| %>
      <% if @business_card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@business_card.errors.count, "error") %> prohibited this business_card from being saved:</h2>

          <ul>
          <% @business_card.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %> 


      <%= f.label :image %>

          <br>
          <br>
          <%= f.file_field :image %></span>
    <br>
      <% if @business_card.present? %>
          <span class="glyphicon glyphicon-camera"><%= f.submit %></span> 
      <% else %>
      <% @flash[:notice] %>
      <% end %>


    <% end %>
  <% else %>
  <% link_to sessions_path %>
<% end %>
<br>
 
<button id="save">Save Image</button>

<canvas id="c"></canvas>
<img src="/uploads/business_card/image/30/chrisyammine.jpg" id="my-image">

<script type="text/javascript">

  function saveUrl() {

    var dataURL =  canvas.toDataURL('image/png').replace(/^data:image\/(png|jpg);base64,/, "");
/*  window.location = dataURL;*/  
    console.log("saveUrl"); 
    console.log(dataURL);
    var formData = new FormData();
    formData.append('data_uri', dataURL);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/business_cards/upload', true);
    xhr.setRequestHeader('Content-Type', 'multipart/form-data');
    xhr.onload = function(){ if (xhr.status !== 200) {alert('Request Failed.')}};
    xhr.send('data_uri='+ dataURL);
  }



  var button = document.getElementById("save")
  button.addEventListener("click", saveUrl);


  var canvas = new fabric.Canvas('c');
  var imgElement = document.getElementById('my-image');
  var imgInstance = new fabric.Image(imgElement, {
    left: 100,
    top: 20,
    angle: 0,
    opacity: 1
  });
  console.log(imgInstance)
  canvas.add(imgInstance);
</script>

</fieldset> 

</div>