<!-- require 'mini_magick' -->
<div class="container">
<%= simple_form_for (@business_card) do |f| %>
  <% if @business_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_card.errors.count, "error") %> prohibited this business_card from being saved:</h2>

      <ul>
      <% @business_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 



<div class="form-group has-success has-feedback">
  <label class="control-label" for="inputSuccess2"><%= f.label :name %></label>
   <br>
    <%= f.text_field :name %>
  </div>
<div class="form-group has-success has-feedback">
<label class="control-label" for="inputSuccess2"><%= f.label :company %></label>
    <br>
    <%= f.text_field :company %>
  </div>
  <div class="form-group has-success has-feedback">

    <label class="control-label" for="inputSuccess2"><%= f.label :job_title %></label>
    <br>
    <%= f.text_field :job_title %>
  </div>
  <div class="form-group has-success has-feedback">

    <label class="control-label" for="inputSuccess2"><%= f.label :phone %></label><br>
    <%= f.text_field :phone %>
  </div>
  <div class="form-group has-success has-feedback">

     <label class="control-label" for="inputSuccess2"><%= f.label :email %></label><br>
    <%= f.text_field :email %>
  </div>
  <div class="form-group has-success has-feedback">

    <label class="control-label" for="inputSuccess2"><%= f.label :company_address %></label><br>
    <%= f.text_field :company_address %>
  </div>
  <div class="form-group has-success has-feedback">

     <label class="control-label" for="inputSuccess2"><%= f.label :ocr_text %></label><br>
    <%= f.text_field :ocr_text %>
  </div> 

  <div class="form-group has-success has-feedback">

     <label class="control-label" for="inputSuccess2"><%= f.label :image %></label><br>
    <%= f.file_field :image %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>



<% end %>
