  <!-- require 'mini_magick' -->
<div class="container">
  <% if current_user %>

    <%= simple_form_for (@business_card) do |f| %>
      <% if @business_card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@business_card.errors.count, "error") %> prohibited this business_card from being saved:</h2>

          <ul>
          <% @business_card.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %> 


    <div class="form-group has-success has-feedback">
       <label class="control-label" for="inputSuccess2"><%= f.label :image %></label><br>
      <%= f.file_field :image %>

    </div>

    

    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  <% else %>
  <% link_to sessions_path %>
<% end %>
