<div class="container"; style="color:#666699">

<div style="min-height:150px;">

  <% if current_user %> 

    <%= form_for @business_card,remote: true, :html => {id: "imageform"}  do |f| %>
      <% if @business_card.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@business_card.errors.count, "error") %> prohibited this business_card from being saved:</h2>
          <ul>
          <% @business_card.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %> 

      <div class="row">
        <div class="col-md-2">
          <div id="image_attachment">
            <div class="wrapper">
              <%= f.file_field :image, title: "Upload Business Card", html: {id: "business_card_image"} %> <!-- file reader -->
              <%= f.hidden_field :imageuri %> 
            </div>
          </div> 
        </div>
        <div class="col-sm-4" style="padding-left:200px">
        <%= link_to "Clear", "/business_cards/new" %>
        </div>
        <div class="col-md-2" style="padding-left:120px">
          <input type="submit" class="btn btn-info btn-lrg" id="imageSubmit" name="commit" value="Add Business Card"> <!-- submit btn-->
        </div>
      </div>
      <br>
      <% end %>
    <% else %>
  <% link_to sessions_path %>
<% end %>

<canvas id="c" width='800' height='400' style="border:2px; border-radius:9%"> <!-- canvas -->
    <div id="buttons">
      <input type="button" id="clear" value="Clear">
    </div>
</canvas>
<br>
<div class="row">
  <div class="col-md-2" style="padding-right:50px">
    <button id="rotateLeft" class="btn btn-info btn-lrg"><span class="glyphicon glyphicon-chevron-left">90°</span></button>
  </div>
  <div class="col-md-4" style="padding-left:120px; padding-right:50px">
    <label>Scale:</label><input type="range" id="scale-image" value="100" min="0" max="255"></span> <!--scale image -->
   </div>
  <div class="col-md-4" style="padding-left:200px">
    <button id="rotateRight" class="btn btn-info btn-lrg">90°<span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
</div>
  <label><span>Grayscale: <input type="checkbox" id="grayscale" ></label>
  <br>
    <label><span>Sharpen:</span> <input type="checkbox" id="sharpen"></label>
    
    <br>

    <label><span>Brightness:</span> <input type="checkbox" id="brightness" ></label>  
    <div class="row">
    <div class="col-md-2" style="centered">
    <input type="range" id="brightness-value" value="100" min="0" max="255">
    </div>
  </div>

 <script type="text/javascript">

  var imageInput = document.getElementById("business_card_image");
  var imageform = document.getElementById("imageform");
  var dataURL = '';
  var canvas = new fabric.Canvas('c', { backgroundColor: '#f5f5f5' }), 

  f = fabric.Image.filters;

  function applyFilter(index, filter) {
    var obj = canvas.getActiveObject();
    obj.filters[index] = filter;
    obj.applyFilters(canvas.renderAll.bind(canvas));
  }

  function applyFilterValue(index, prop, value) {
    var obj = canvas.getActiveObject();
    if (obj.filters[index]) {
      obj.filters[index][prop] = value;
      obj.applyFilters(canvas.renderAll.bind(canvas));
    }
  } 

  canvas.on({
    'object:selected': function() {
      fabric.util.toArray(document.getElementsByTagName('input'))
                          .forEach(function(el){ el.disabled = false; })

      var filters = ['grayscale', 'brightness', 'sharpen'];
      for (var i = 0; i < filters.length; i++) {
        $(filters[i]).checked = !!canvas.getActiveObject().filters[i];
      }
    },

    'selection:cleared': function() {
      fabric.util.toArray(document.getElementsByTagName('input'))
      .forEach(function(el){ el.disabled = true; })
    }
  });

  var context = document.getElementById('c').getContext('2d'); 
  $('#business_card_image').on('change', function(e)
  {
    var img = new Image()
    img.onload = function(e)
    {
      var imgInstance = new fabric.Image(img, {
        left: 200,
        top: 200,
        originX: "center",
        originY: "center",
        scaleX: 1,
        scaleY: 1,
        centeredScaling: true,

      });
      canvas.add(imgInstance);
    }

    img.src = URL.createObjectURL(e.target.files[0]);
  })


  // $("#business_card_image").elevateZoom();

  function handleRemove() {
    canvas.clear(); //Clear canvas function
  }

  $("#imageSubmit").on("click", function() {
    $("#business_card_imageuri").val(canvas.toDataURL('image/png', 1.0));  
  })

  $("#rotateLeft").on("click", function(e){

      var angle = canvas.item(0).getAngle()
      angle += 90;
      canvas.item(0).set({
        angle: angle 
      })
    canvas.renderAll();
  })

  $("#rotateRight").on("click", function(e){

      var angle = canvas.item(0).getAngle()
      angle += -90;
      canvas.item(0).set({
        angle: angle 
      })
    canvas.renderAll();
  })

  $("#slider1").change(function () {                    
  var newValue = $('#slider1').val();
    $("#business_card_imageuri").val(newValue);
  }); 

  document.getElementById('clear').addEventListener('click', function() {
        context.clearRect(0, 0, canvas.width, canvas.height);
      }, false);

  $('#grayscale').on('click', function() {
      applyFilter(0, this.checked && new f.Grayscale()); 
    });

  $('#brightness').on('click', function() {
    applyFilter( 1, this.checked && new f.Brightness({ 
      brightness: parseInt($('#brightness-value').val(), 10) 
      }))
  });

  $('#brightness-value').on('change', function() {
    applyFilterValue(1, 'brightness', parseInt($(this).val(), 10)) 
  });

  $('#sharpen').on('click', function() {
    applyFilter(2, this.checked && new f.Convolute({
      matrix: [  0, -1,  0,
                -1,  5, -1,
                 0, -1,  0 ]
    }));
  });

  $('#scale-image').on('change', function() {
    var obj = canvas.getActiveObject();
    var val = $(this).val();
    obj.setScaleX(val/100);
    obj.setScaleY(val/100);
    canvas.renderAll()  ;
    console.log(val)
    console.log(obj)
  })






  </script>


<br>

</div> 

</div>

