<div class="navbar-wrapper">

  <div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
          <a class="navbar-brand">Snappshot</a>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">          
            <li class=""><%= link_to("Home", root_path) %>
            </li>
            <li class=" dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Business Cards <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/business_cards/new">Add New Business Card</a></li>
              <li><a href="/business_cards">View Business Contacts</a></li>
            </ul>
            </li>
            <ul class="nav navbar-nav pull-right">
              <li class=" dropdown">
                <a href="" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Signed in as <% if current_user %> 
                <%= current_user.name.capitalize  %> 
                <% end %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if current_user %> 
                    <li><a href="/profile">My Profile</a></li>
                    <li><a href="#">Change Password</a></li>
                    <% end %>
                </ul>
                </li>
            <li class=""><%= link_to("Logout", sessions_path("current"), method: :delete) %></li>
            </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<% if flash[:message] %>
  <div class="login-error">
  <%= flash[:message] %>
  </div>
<% end %>

<!-- end of nav bar -->

<p id="notice"><%= notice %></p>  
  <div style="border-radius: 5px; padding-left: 40px; padding-right: 150px; color:#666699">
    <h2>Business Cards</h2>
    <br>
      <table class="table table-striped">
        <thead>
          <tr>
          <th><u><b>Contact  </u></b></th>
            <th><u>Contact Information </u></th>
            <th><u>Map</u></th>
            <th style="float:right"><u>Edit/ Delete/ Save</u></th>
          </tr>
        </thead>
    <tbody>
      <% if @business_cards.length > 0 %> 
      <% @business_cards.each do |business_card| %>
          <td><%= image_tag(business_card.image) %></td>
          <td><div><b>Full Name: </b><%= business_card.name %></div>
            <b>Company Name: </b><%= business_card.company %><br>
            <b>Job Title: </b><%= business_card.job_title %><br>
            <b>Phone: </b><a style="color:#666699" href="tel:+1<%= business_card.phone %>"><%= business_card.phone %></a><br>
            <b>Email: </b><a style="color:#666699"  href="mailto:<%= business_card.email %>"><%= business_card.email %></a><br>
            <b>Website: </b><a style="color:#666699" href="https:<%= business_card.company_website %>"><%= business_card.company_website %></a><br> 
            <b>Address: </b><%= business_card.company_address %><br> 
            </td>
            <td>
            <div style='width: 300px;'>
<!--               <div id="contacts" style='width: 320px; height: 210px; border: 1px solid #AAA;'></div> <!-- map -->
             </div>           
            </td>
          <td>
          <ol>
          <br><br><br>
          <%= button_to 'Edit', edit_business_card_path(business_card), method: :get, class: 'btn btn-info btn-block' %></ol>
          <ol><%= button_to 'Delete', business_card, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></ol>   
          <ol><%= button_to 'Save', business_card, method: :something, data: {confirm: 'Save Contact?'}, class: 'btn btn-success btn-block' %> </ol> 
          </td>
      
        </tr>
    </tbody>
        <% end %>
        <% else %>
        <td colspan="9">NO Business Cards</td>
        <% end %>
  </table>
  <%= button_to 'Add a New Businesscard', new_business_card_path, id: 'button', class: "btn btn-info btn-lg", :method => :get %>
</div>
 
<script src="http://maps.google.com/maps/api/js", type="text/javascript">

function initMap() {

  var map = new google.maps.Map(document.getElementById('contacts'), {
    center: {lat: 49.281887, lng: -123.108188},
    zoom: 14
  });

  var myLatLng = {lat: 49.281887, lng: -123.108188};
  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    });
  }

</script> 

  <div class="navbar-footer">
    <div class="row">
      <ul class="nav navbar-nav">

      </ul>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>