
<p id="notice"><%= notice %></p>  
  <div style="border-radius: 5px; padding-left: 150px; padding-right: 150px;">
  <h3>Business Cards</h3>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Company</th>
        <th>Title</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% if @business_cards.length > 0 %> 
      <% @business_cards.each do |business_card| %>
        <tr>
          <div id="businesscards">
          <td><%= image_tag(business_card.imageuri) %></td>
          </div>
          <td><%= business_card.name %></td>
          <td><%= business_card.company %></td>
          <td><%= business_card.job_title %></td>
          <td><%= business_card.phone %></td>
          <td><%= business_card.email %></td>
          <td><%= business_card.company_address %></td> 
          <td>
          <ol><%= link_to 'Edit', edit_business_card_path(business_card) %></ol>
          <ol><%= link_to 'Destroy', business_card, method: :delete, data: { confirm: 'Are you sure?' } %></ol>   
        </tr>
        <% end %>
        <% else %>
        <td colspan="9">NO Business Cards</td>
        <% end %>
    </tbody>
  </table>
  <%= button_to 'Add New Businesscard', new_business_card_path, :method => :get %>
</div>


