
<p id="notice"><%= notice %></p>



  <h2>Business Cards</h2>
<table class="table table-striped">
  <div class="container">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Company</th>
      <th>Title</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% if @business_cards.length > 0 %> 
<% @business_cards.each do |business_card| %>
      <tr>
        <td><%= image_tag(business_card.image.url) %></td>
        <td><%= business_card.name %></td>
        <td><%= business_card.company %></td>
        <td><%= business_card.job_title %></td>
        <td><%= business_card.phone %></td>
        <td><%= business_card.email %></td>
        <td><%= business_card.company_address %></td> 
        <td>
        <ol><%= link_to 'Show', business_card %></ol>
        <ol><%= link_to 'Edit', edit_business_card_path(business_card) %></ol>
        <ol><%= link_to 'Destroy', business_card, method: :delete, data: { confirm: 'Are you sure?' } %></ol>
         </td>   
      </tr>
      <% end %>
      <% else %>
      <td colspan="9">NO Business Cards</td>
      <% end %>
  </tbody>
</div>
</table>
<%= link_to 'New Business card', new_business_card_path %>


