<div class="navbar-wrapper">
  <div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
          <a class="navbar-brand">Snappshot</a>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">          
            <li class=""><%= link_to("Home", root_path) %>
            </li>
            <li class=" dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Business Cards <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/business_cards/new">Add New Business Card</a></li>
              <li><a href="/business_cards">View Business Contacts</a></li>
            </ul>
            </li>
            <ul class="nav navbar-nav pull-right">
              <li class=" dropdown">
                <a href="" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Signed in as <% if current_user %> 
                <%= current_user.name.capitalize  %> 
                <% end %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if current_user %> 
                    <li><a href="/profile">My Profile</a></li>
                    <li><a href="#">Change Password</a></li>
                    <% end %>
                </ul>
                </li>
            <li class=""><%= link_to("Logout", sessions_path("current"), method: :delete) %></li>
            </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<% if flash[:message] %>
  <div class="login-error">
  <%= flash[:message] %>
  </div>
<% end %>

<!-- end of nav bar -->

<div class="container", style="color:#666699">
<h3>New Business Card</h3>
<br>

<%= render 'form', :business_card => @business_card %>

<%= link_to 'Back', business_cards_path %>
</div>
