<p id="notice"><%= notice %></p>

<div class="container">
  <strong><%= @business_card.name %></strong>
  <p contenteditable="true">
    <%= image_tag(@business_card.image.url) %>
  </p>
  <strong>Click to edit: </strong>
  <p contenteditable="true">
    <%= @business_card.ocr_text %>
  </p>
  <strong>Company:</strong>
  <p contenteditable="true">
    <%= @business_card.company %>
  </p>
  <strong>Job Title:</strong>
  <p contenteditable="true">
    <%= @business_card.job_title %>
  </p>
  <strong>Address:</strong>
  <p contenteditable="true">
    <%= @business_card.company_address %>
  </p>
</div>

<%= link_to 'Edit', edit_business_card_path(@business_card) %> |
<%= link_to 'Back', business_cards_path %> |
<%= link_to 'Destroy', @business_card, method: :delete, data: { confirm: 'Are you sure?' } %>
