<section style="margin: 40px;">

<!-- <fieldset style="border-radius: 5px; padding: 5px; min-height:100px; width:500px;"> -->
<p id="notice"><%= notice %></p>
<% if current_user %>
<div class="container">
<%= simple_form_for (@business_card) do |f| %>
  <div class="form-group has-success has-feedback", style="left-padding=20">

     <label class="control-label" for="inputSuccess2"><%= f.label :image %></label><br>
      <% if @business_card.image %>
      <%= image_tag(@business_card.image.url) %>
      <% else %>
      <%= f.file_field :image %>
      <% end %>
  </div>
  <div style="padding-left:50px">
     <label class="control-label" for="inputSuccess2"><%= f.label :ocr_text %></label><br>
     <div colspan="3">
      <%= f.text_area :ocr_text, size: "30x10"  %>
      <%= f.label :name  %><br>
      <%= f.label :company  %><br>
      <%= f.label :job_title  %><br>
    </div>
  </div> 

<div class="form-group has-success has-feedback">
  <label class="control-label" for="inputSuccess2"><%= f.label :name %></label>
   <br>
    <%= f.text_field :name %>
  </div>
<div class="form-group has-success has-feedback">
<label class="control-label" for="inputSuccess2"><%= f.label :company %></label>
    <br>
    <%= f.text_field :company %>
  </div>
  <div class="form-group has-success has-feedback">

    <label class="control-label" for="inputSuccess2"><%= f.label :job_title %></label>
    <br>    
    <%= f.text_field :job_title %>
  </div>
  <div class="form-group has-success has-feedback">

    <label class="control-label" for="inputSuccess2"><%= f.label :phone %></label><br>
    <%= f.text_field :phone %>
  </div>
  <div class="form-group has-success has-feedback">

     <label class="control-label" for="inputSuccess2"><%= f.label :email %></label><br>
    <%= f.text_field :email %>
  </div>
  <div class="form-group has-success has-feedback">

    <label class="control-label" for="inputSuccess2"><%= f.label :company_address %></label><br>
    <%= f.text_field :company_address %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>
  <% end %>
  <!-- </fieldset> -->

<!--   <strong><%= @business_card.name %></strong>
  <p>
    <%= image_tag(@business_card.image.url) %>
  </p>
  <strong>Click to edit: </strong>
  <p contenteditable="true">
    <%= @business_card.ocr_text %>
  </p>
  <strong>Company:</strong>
  <p contenteditable="true">
    <%= @business_card.company %>
  </p>
  <strong>Job Title:</strong>
  <p contenteditable="true">
    <%= @business_card.job_title %>
  </p>
  <strong>Address:</strong>
  <p contenteditable="true">
 <%= @business_card.company_address %>
  </p>
    <strong>Phone:</strong>
  <p contenteditable="true">
 <%= @business_card.phone %>
  </p>
</div> -->

<!-- 
<%= link_to 'Edit', edit_business_card_path(@business_card) %> |
<%= link_to 'Destroy', @business_card, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', business_cards_path %> |
 -->