<!DOCTYPE html>
<html>
<head>
  <title>Snappshot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body> 

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Snappshot</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="/business_cards">Input Business Card</a></li>
        <li class="active"><%= link_to 'New User', new_user_path %></li>

      </ul>
    </div>
  </div>
</nav>



    <div class="menu-container">
 
        <div id="menu-toggle-primary">
            <a class="close-menu-primary" href="#"><span>Close this menu</span></a>
        </div><!-- .menu-toggle -->
 
        <div class="wrap">
            <ul class="menu-items" id="menu-primary-items">
                <li class="menu-item"><%= link_to "Home", root_path %></li>
                <li class="menu-item"><%= link_to "About Us", root_path %></li>
                <li class="menu-item"><%= link_to "Contacts", root_path %>

                    <ul class="sub-menu">
                        <li class="menu-item"><%= link_to "Calendar", root_path %></li>
                        <li class="menu-item"><%= link_to "Business Card", root_path %></li>
                    </ul>
                </li>
                <li class="menu-item"><%= link_to "Login", root_path %></li>
            </ul>
        </div><!-- .wrap -->
    </div><!-- .menu-container -->
</nav>

>>>>>>> 82e86a481a1ba8b61e57a0550b234beafe90ec1e
<%= yield %>

</body>
</html>
